node_modules
dist
examples/dist
examples/dist-ghpages
examples/public/docs
examples/dist
examples/dist-ghpages
docs/.vitepress/cache
*.log
*.local
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
.env

# MSDF atlas 生成脚本的中间产物
scripts/charset.txt
