# rclone远程配置名称
# 先执行 rclone config 创建同名 remote，例如 gis-demo:
RCLONE_REMOTE=gis-demo

# 文件路径(绝对路径)
LOCAL_DIR="your/local/dir"
REMOTE_DIR="your/remote/dir"

# rclone同步参数
RCLONE_TRANSFERS=8
RCLONE_CHECKERS=16

# CDN操作授权信息
CDN_SECRET_ID="yourid"
CDN_SECRET_KEY="yourkey"
CDN_FLUSH_PATHS="https://demo.example.com/"
